html{
    font-size: 10px;
    height: 100%;
}
body{
    background: rgb(170, 221, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    background: rgb(0, 170, 137);
    & nav{
        & .navbar-brand{
            font-size: 5rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            text-shadow: 0 0 2px #000;
            &:hover{
                color: #fff;
            }
        }
        & .nav-item{
            & .nav-link{
                color: #fcfcfc;
                text-shadow: 0 0 1px #000;
                font-size: 2rem;
                &.active{
                    color: rgb(255, 255, 0);

                }
            }
        }
    }    
}

.content{
    flex-grow: 1;
}
footer{
    background: rgb(0, 170, 147);
    padding: 10px 0;
}